@import '../../src/module/stooges-variables';
@import '../../src/scss/project-variables';
@import '../../src/module/stooges-mixin';
@import '../../src/scss/project-mixin';
@import '../../src/module/stooges-basscss';
@import '../../src/scss/project-basscss';
@import '../../src/scss/fontFamily';

.fixedBackground{
    @extend %fixedBackground;
    background-image: url('../../src/images/contact/fixedBg.jpg');
}

.mainTitle{
    @extend %transparentBigTitle;
    .h1{
        line-height: 1.2;
    }
}
.shadowCard{
    .card{
        @extend %shadowCard;
        padding:0;
        overflow: hidden;

        .halfMapHalfCompanyInfo{
            @extend %halfMapHalfCompanyInfo;
        }
        
        .halfFormHalfWord{
            @extend %halfFormHalfWord;
        }
    }
}