@import '../../src/module/stooges-variables';
@import '../../src/scss/project-variables';
@import '../../src/module/stooges-mixin';
@import '../../src/scss/project-mixin';
@import '../../src/module/stooges-basscss';
@import '../../src/scss/project-basscss';
@import '../../src/scss/fontFamily';

.fixedBackground{
    @extend %fixedBackground;
    background-image: url('../../src/images/article/fixedBg.jpg');
}

.mainTitle{
    @extend %transparentBigTitle;
    .h1{
        line-height: 1.2;
    }
}
.shadowCard{
    .card{
        @extend %shadowCard;

        .centerContent{
            @extend %centerContent;
            text-align: center;
            font-family: $font-family-2;
        }

        .article{
            @extend %oneImageThreeContent;
        }
    }
}