.fixedBackground {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fixedBackground:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.42);
}

@media (max-width: 768px) {
  .mainTitle .h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
}

.mainTitle {
  padding: 200px 0 150px;
  color: white;
}

.mainTitle .content {
  max-width: 800px;
}

.mainTitle .content .h1 {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

.mainTitle .content .h3 {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .mainTitle .content .h3 {
    font-size: 18px;
  }
}

.shadowCard .card {
  background: rgba(255, 255, 255, 0.97);
  padding: 60px 10px;
  border-radius: 10px;
}

.shadowCard .card .centerContent {
  max-width: 880px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.shadowCard .card .centerContent p {
  color: #787b82;
  line-height: 1.8;
}

.shadowCard .card .centerContent p b {
  color: #89331B;
}

@media (max-width: 768px) {
  .shadowCard .card .centerContent {
    font-size: 14px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #54565B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #54565B;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #54565B;
  opacity: 1;
}

::placeholder {
  color: #54565B;
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#modelBrowser {
  display: none;
}

body {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  color: #54565B;
  background-color: D5D7DB;
  min-width: 315px;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a,
.href {
  color: #89331B;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
.href:hover {
  color: #d75733;
  text-decoration: none;
}

label {
  white-space: nowrap;
  color: #787b82;
}

h1, .h1 {
  font-size: 68px;
  line-height: 75px;
  letter-spacing: 1;
  font-weight: 400;
  margin: 0 0 26px;
}

h2, .h2 {
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1;
  font-weight: 400;
  margin: 0 0 20px;
}

h3, .h3 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1;
  font-weight: 400;
  margin: 0 0 14px;
}

h4, .h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1;
  font-weight: 400;
  margin: 0 0 14px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1;
  font-weight: 400;
  margin: 0 0 14px;
}

h6, .h6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1;
  font-weight: 400;
  margin: 0 0 14px;
}

p {
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0 0 24px;
}

.bold {
  font-weight: 400;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #eceeef;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.cursorPointer {
  cursor: pointer;
}

.pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.fit {
  width: 100%;
}

.ck img {
  max-width: 100%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap [class^="sm-col"],
.flex-wrap [class^="md-col"],
.flex-wrap [class^="lg-col"] {
  float: none;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mxn0 {
  margin-left: -0;
  margin-right: -0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m1 {
  margin: 8px;
}

.mt1 {
  margin-top: 8px;
}

.mr1 {
  margin-right: 8px;
}

.mb1 {
  margin-bottom: 8px;
}

.ml1 {
  margin-left: 8px;
}

.mx1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mxn1 {
  margin-left: -8px;
  margin-right: -8px;
}

.my1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p1 {
  padding: 8px;
}

.pt1 {
  padding-top: 8px;
}

.pr1 {
  padding-right: 8px;
}

.pb1 {
  padding-bottom: 8px;
}

.pl1 {
  padding-left: 8px;
}

.px1 {
  padding-left: 8px;
  padding-right: 8px;
}

.py1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m2 {
  margin: 16px;
}

.mt2 {
  margin-top: 16px;
}

.mr2 {
  margin-right: 16px;
}

.mb2 {
  margin-bottom: 16px;
}

.ml2 {
  margin-left: 16px;
}

.mx2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mxn2 {
  margin-left: -16px;
  margin-right: -16px;
}

.my2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p2 {
  padding: 16px;
}

.pt2 {
  padding-top: 16px;
}

.pr2 {
  padding-right: 16px;
}

.pb2 {
  padding-bottom: 16px;
}

.pl2 {
  padding-left: 16px;
}

.px2 {
  padding-left: 16px;
  padding-right: 16px;
}

.py2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m3 {
  margin: 24px;
}

.mt3 {
  margin-top: 24px;
}

.mr3 {
  margin-right: 24px;
}

.mb3 {
  margin-bottom: 24px;
}

.ml3 {
  margin-left: 24px;
}

.mx3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mxn3 {
  margin-left: -24px;
  margin-right: -24px;
}

.my3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p3 {
  padding: 24px;
}

.pt3 {
  padding-top: 24px;
}

.pr3 {
  padding-right: 24px;
}

.pb3 {
  padding-bottom: 24px;
}

.pl3 {
  padding-left: 24px;
}

.px3 {
  padding-left: 24px;
  padding-right: 24px;
}

.py3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m4 {
  margin: 32px;
}

.mt4 {
  margin-top: 32px;
}

.mr4 {
  margin-right: 32px;
}

.mb4 {
  margin-bottom: 32px;
}

.ml4 {
  margin-left: 32px;
}

.mx4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mxn4 {
  margin-left: -32px;
  margin-right: -32px;
}

.my4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p4 {
  padding: 32px;
}

.pt4 {
  padding-top: 32px;
}

.pr4 {
  padding-right: 32px;
}

.pb4 {
  padding-bottom: 32px;
}

.pl4 {
  padding-left: 32px;
}

.px4 {
  padding-left: 32px;
  padding-right: 32px;
}

.py4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

[class^="col"] {
  float: left;
  min-height: 1px;
}

.col-right {
  float: right;
}

@media (min-width: 421px) {
  .sm-col-1 {
    width: 8.33333%;
  }
  .sm-col-2 {
    width: 16.66667%;
  }
  .sm-col-3 {
    width: 25%;
  }
  .sm-col-4 {
    width: 33.33333%;
  }
  .sm-col-5 {
    width: 41.66667%;
  }
  .sm-col-6 {
    width: 50%;
  }
  .sm-col-7 {
    width: 58.33333%;
  }
  .sm-col-8 {
    width: 66.66667%;
  }
  .sm-col-9 {
    width: 75%;
  }
  .sm-col-10 {
    width: 83.33333%;
  }
  .sm-col-11 {
    width: 91.66667%;
  }
  .sm-col-12 {
    width: 100%;
  }
  [class^="sm-col"] {
    float: left;
    min-height: 1px;
  }
  .sm-col-right {
    float: right;
  }
}

@media (min-width: 769px) {
  .md-col-1 {
    width: 8.33333%;
  }
  .md-col-2 {
    width: 16.66667%;
  }
  .md-col-3 {
    width: 25%;
  }
  .md-col-4 {
    width: 33.33333%;
  }
  .md-col-5 {
    width: 41.66667%;
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-7 {
    width: 58.33333%;
  }
  .md-col-8 {
    width: 66.66667%;
  }
  .md-col-9 {
    width: 75%;
  }
  .md-col-10 {
    width: 83.33333%;
  }
  .md-col-11 {
    width: 91.66667%;
  }
  .md-col-12 {
    width: 100%;
  }
  [class^="md-col"] {
    float: left;
    min-height: 1px;
  }
  .md-col-right {
    float: right;
  }
}

@media (min-width: 1025px) {
  .lg-col-1 {
    width: 8.33333%;
  }
  .lg-col-2 {
    width: 16.66667%;
  }
  .lg-col-3 {
    width: 25%;
  }
  .lg-col-4 {
    width: 33.33333%;
  }
  .lg-col-5 {
    width: 41.66667%;
  }
  .lg-col-6 {
    width: 50%;
  }
  .lg-col-7 {
    width: 58.33333%;
  }
  .lg-col-8 {
    width: 66.66667%;
  }
  .lg-col-9 {
    width: 75%;
  }
  .lg-col-10 {
    width: 83.33333%;
  }
  .lg-col-11 {
    width: 91.66667%;
  }
  .lg-col-12 {
    width: 100%;
  }
  [class^="lg-col"] {
    float: left;
    min-height: 1px;
  }
  .lg-col-right {
    float: right;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1px) and (max-width: 420px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .xs-hide {
    display: none;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .sm-hide {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .md-hide {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .container {
    max-width: 100%;
  }
  .lg-hide {
    display: none;
  }
}

@media (min-width: 1365px) and (max-width: 9999px) {
  .container {
    max-width: 1300px;
  }
  .xl-hide {
    display: none;
  }
}

[class*='image-scale-'] {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

[class*='image-scale-']:before {
  content: "";
  display: block;
}

[class*='image-scale-'].image-scale-1by1:before {
  padding-top: calc(1/1 * 100%);
}

[class*='image-scale-'].image-scale-60by32:before {
  padding-top: calc(32/60 * 100%);
}

[class*='image-scale-'] iframe,
[class*='image-scale-'] .contain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

[class*='image-scale-'] img.contain {
  -o-object-fit: cover;
     object-fit: cover;
}

router-outlet {
  display: block;
  height: 0;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotating:before {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

.fixedBackground {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fixedBackground:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.42);
}

@media (max-width: 768px) {
  .mainTitle .h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
}

.mainTitle {
  padding: 200px 0 150px;
  color: white;
}

.mainTitle .content {
  max-width: 800px;
}

.mainTitle .content .h1 {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

.mainTitle .content .h3 {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .mainTitle .content .h3 {
    font-size: 18px;
  }
}

.shadowCard .card {
  background: rgba(255, 255, 255, 0.97);
  padding: 60px 10px;
  border-radius: 10px;
}

.shadowCard .card .centerContent {
  max-width: 880px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.shadowCard .card .centerContent p {
  color: #787b82;
  line-height: 1.8;
}

.shadowCard .card .centerContent p b {
  color: #89331B;
}

@media (max-width: 768px) {
  .shadowCard .card .centerContent {
    font-size: 14px;
  }
}

::-moz-selection {
  background: #89331B;
  color: white;
}

::selection {
  background: #89331B;
  color: white;
}

.fixedBackground {
  background-image: url("../../src/images/article/fixedBg.jpg");
}

.mainTitle {
  padding: 100px 0 100px;
}

.mainTitle .content {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.mainTitle .content .h1 {
  line-height: 1.2;
}

@media (max-width: 768px) {
  .mainTitle .content .date {
    font-size: 14px;
  }
}

.shadowCard .card .centerContent h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}
/*# sourceMappingURL=style.css.map */